.animalInputsBlock {
  display: flex;
  align-items: center;
  width: 100%;
}
.findAnimalInputBlock { 
  display: flex;
}
.findAnimalInputBlock >* {
  margin-right: 30px;
}


.animalFilterWrapperMobile {
  display: none;
}
.animalFiltersBlock {
  padding-bottom: 70px;
}
.animalFilterWrapperTop {
  display: flex;
  flex-wrap: wrap;
  margin: {
    top: 30px;
    bottom: 30px;
  }
}
.animalFilterWrapperTop >*:not(:last-child) {
  margin-right: 30px;
}
.animalFilterWrapperBottom {
  display: flex;
}
.animalFilterWrapperBottom >*:not(:last-child) {
  margin-right: 30px;
}
.ourPetsGallery {
  margin-top: 165px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ourPetsGallery > * {
  margin-bottom: 155px;
}

// Tablet styles
@media (max-width: 1024px) {
  .animalInputsBlock {
    display: flex;
    flex-wrap: wrap;
  }
  .animalFiltersBlock {
    padding-bottom: 40px;
  }
  .animalFilterWrapperTop {
    margin-top: 40px;
  }
}

// Mobile styles
@media (max-width: 414px) {
  .animalInputsBlock {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .animalFilterWrapper {
    display: none;
  }
  .animalFilterWrapperMobile {
    display: block;
    margin-top: 30px;
  }
  .animalFilterWrapperTopMobile {
    display: flex;
  }
  .animalFilterWrapperMiddleMobile {
    display: flex;
    margin: {
      top: 15px;
      bottom: 15px;
    }
  }
  .animalFilterWrapperBottomMobile {
    display: flex;
  }
  .animalFilterWrapperTopMobile >*:not(:last-child) {
    margin-right: 15px;
  } 
  .animalFilterWrapperMiddleMobile >*:not(:last-child) {
    margin-right: 15px;
  } 
  .findAnimalInputBlock {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .findAnimalInputBlock >*:not(:last-child) {
    margin-bottom: 15px;
  }
}