.animalInputsBlock {
  display: flex;
  align-items: center;
  width: 100%;
}
.findAnimalInputBlock { 
  display: flex;
}
.findAnimalInputBlock >* {
  margin-right: 30px;
}


.animalFilterWrapperMobile {
  display: none;
}
.animalFiltersBlock {
  padding-bottom: 70px;
}
.animalFilterWrapperTop {
  display: flex;
  flex-wrap: wrap;
  margin: {
    top: 30px;
    bottom: 30px;
  }
}
.animalFilterWrapperTop >*:not(:last-child) {
  margin-right: 30px;
}
.animalFilterWrapperBottom {
  display: flex;
}
.animalFilterWrapperBottom >*:not(:last-child) {
  margin-right: 30px;
}
.ourPetsGallery {
  margin-top: 165px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}
.ourPetsGallery > * {
  margin-bottom: 155px;
}

// .MuiPagination-ul {
//   background: red;
// }


// Tablet styles
@media (max-width: 1279px) {
  .animalInputsBlock {
    display: flex;
    // flex-wrap: wrap;
  }
  .animalFiltersBlock {
    padding-bottom: 40px;
  }
  .animalFilterWrapperTop {
    margin-top: 40px;
  }
  .ourPetsGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 580px;
    margin: 165px auto 0 auto;
  }
  .ourPetsGallery > * {
    margin-bottom: 130px;
  }
}


// Mobile styles
@media (max-width: 767px) {
  .animalInputsBlock {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .animalFilterWrapper {
    display: none;
  }
  .animalFilterWrapperMobile {
    display: block;
    margin-top: 30px;
  }
  .animalFilterWrapperTopMobile {
    display: flex;
  }
  .animalFilterWrapperMiddleMobile {
    display: flex;
    margin: {
      top: 15px;
      bottom: 15px;
    }
  }
  .animalFilterWrapperBottomMobile {
    display: flex;
  }
  .animalFilterWrapperTopMobile >*:not(:last-child) {
    margin-right: 15px;
  } 
  .animalFilterWrapperMiddleMobile >*:not(:last-child) {
    margin-right: 15px;
  } 
  .findAnimalInputBlock {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .findAnimalInputBlock >*:not(:last-child) {
    margin-bottom: 15px;
  }
  .ourPetsGallery {
    display: flex;
    flex-wrap: wrap;
    width: 251px;
  }
  .ourPetsGallery > * {
    margin-bottom: 145px;
  }
}