.findHomeTitle {
  padding: {
    bottom: 230px;
  }
}
.findCarouselBlock {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.findCarouselArrow {
  position: absolute;
  top: 24%;
}
.findCarouselArrowLeft {
  left: -7%;
}
.findCarouselArrowRight {
  right: -7%;
}
.findCarouselArrow img {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}
.findCarouselArrowLeft img {
  padding: {
    top: 11px;
    right: 15px;
    bottom: 11px;
    left: 13px;
  }
}
.findCarouselArrowRight img {
  padding: {
    top: 11px;
    right: 13px;
    bottom: 11px;
    left: 15px;
  }
}

.findCarouselArrow img:hover {
  background: #FFB78E;
}
.findCarouselArrow img:active {
  background: #E48244;
}


// Tablet styles
@media (max-width: 1200px) {
  .findCarouselArrow {
    height: 30px;
  }
  .findCarouselBlock {
    flex-wrap: wrap;
    // justify-content: space-around;
    width: 634px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .findHomeTitle {
    padding-bottom: 200px;
    width: 90%;
  }

  .findCarouselArrowRight img {
    padding: {
      top: 9px;
      right: 10px;
      bottom: 9px;
      left: 14px;
    }
  }
  .findCarouselArrowLeft img {
    padding: {
      top: 9px;
      right: 14px;
      bottom: 9px;
      left: 10px;
    }
  }
}


// Mobile styles
@media (max-width: 767px) {
  .findCarouselArrow {
    display: none;
  }
  .findCarouselBlock {
    width: 251px;
    padding-left: 0;
    padding-right: 0;
  }
  .findCarouselBlock >* {
    margin-top: 140px;
  }
  .findCarouselCard {
    padding: 0;
  }
  .findHomeTitle {
    padding-bottom: 50px;
  }
}


@media (min-width: 1650px) {
  .findCarouselBlock {
    padding: {
      left: 3.5%;
      right: 3.5%;
    }
    justify-content: space-around;
  }
}


