@import 'variables.scss';

// Donation block
.bankCardWrapper {
  display: flex;
  justify-content: center;
}
.bankCard {
  background: #fff;
  background-image: url(/img/paws-top.png), url(/img/paws-bottom.png);
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  // background-size: 55%;
  display: flex;
  align-items: center;
  width: 59%;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  padding: {
    top: 13%;
    bottom: 10%;
  }
}
.bankCardNumber {
  display: flex;
  align-items: center;
  background: $pageBg;
  border-radius: 100px;
  padding: {
    top: 13px;
    bottom: 13px;
    left: 40px;
    right: 40px;
  }
}
.bankCardNumber img {
  padding-right: 20px;
}
.bankCardNumber span {
  color: #131313;
  font-family: 'Montserrat', sans-serif;
  font-weight: $mediumWeight;
  font-size: 1.667em;
  user-select: none;
}
.bankCardBtn {
  padding-top: 30px;
}
.btnTextMobile {
  display: none;
}

// Tablet styles
@media (max-width: 1024px) {
  .bankCard {
    width: 100%;
    margin-left: 15px;
    height: 85vh;
    justify-content: center;
  }
}

// Mobile styles
@media (max-width: 414px) {
  .bankCard {
    width: 100%;
    margin-left: 0px;
    height: 30vh;
    background-size: 50%;
  }
  .btnTextDesktop {
    display: none;
  }
  .bankCardNumber {
    justify-content: center;
    padding: {
      top: 7px;
      bottom: 7px;
      left: 19px;
      right: 19px;
    }
  }
  .bankCardNumber img {
    width: 15%;
    padding-right: 9px;
  }
  .bankCardBtn {
    padding-top: 10px;
  }
  .bankCardBtn button {
    width: 156px;
    padding: {
      top: 13px;
      bottom: 13px;
      left: 33px;
      right: 33px;
    }
  }
  .btnTextMobile {
    display: block;
    font-size: 0.722em;
  }
}