@import 'variables.scss';

.modalBlock {
  z-index: 1000;
}
.bankCardModal {
  background: $pageBg;
  padding-bottom: 5%;
}
.bankCardModalClose {
  display: flex;
  justify-content: flex-end;
  padding: {
    right: 45px;
    top: 45px;
  };
}
.bankCardModal p {
  margin: 0 auto;
  text-align: center;
  font-size: 1.39em;
  font-family: 'Montserrat Medium', sans-serif;
  width: 45%;
  padding-bottom: 5%;
  padding-top: 3%;
}

.btnClose {
  background: none;
  padding: 0;
  width: 35px;
}
.btnClose:hover {
  background: none;
}
.btnClose:active {
  background: none;
}

// Dynamic style for header
.donationBtnHeader {
  padding: {
    top: 15px;
    bottom: 15px;
    left: 40px;
    right: 40px;
  }
  width: 100%;
  font-size: 0.833em;
}