@import 'variables.scss';

.callBtn {
  margin-bottom: 20px;
}
.callBtn, .whatsappBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: {
    top: 13px;
    bottom: 13px;
  };
}

.callBtn span, .whatsappBtn span {
  color: #fff;
  margin-left: 15px;
}


// Tablet styles
@media (max-width: 1024px) {
  .callBtn, .whatsappBtn {
    padding: {
      top: 10px;
      bottom: 10px;
    };
    height: 60px;
  }
  .callBtn span, .whatsappBtn span {
    margin-left: 10px;
    font-size: 1em;
  } 
}

// Mobile styles
@media (max-width: 414px) {
  .callBtn, .whatsappBtn {
    padding: {
      top: 8px;
      bottom: 8px;
    };
  }
  .callBtn span, .whatsappBtn span {
    margin-left: 8px;
    font-size: 15px;
  } 
}