@import 'variables.scss';

.animalFilterInput {
  display: flex;
  align-items: center;
  padding: {
    top: 14px;
    bottom: 14px;
    left: 20px;
    right: 25px;
  }
  width: 285px;
  justify-content: space-between;
  background: #fff;
  border-radius: 100px;
}

// Tablet styles
@media (max-width: 1439px) {
  .animalFilterInput {
    width: 206px;
    padding: {
      top: 16px;
      bottom: 16px;
      left: 20px;
      right: 14px;
    }
  }
  .animalFilterInput h4 {
    font-size: 1rem;
  }
}

// Mobile styles
@media (max-width: 767px) {
  .animalFilterInput {
    height: 37px;
    padding: {
      top: 9px;
      bottom: 9px;
      left: 15px;
      right: 10px;
    }
  }
  .animalFilterInput h4 {
    font-size: 0.722rem;
  }
  .animalFilterInput img {
    height: 14px;
    width: 17px;
  }
}