@import 'variables.scss';

.animalFilterInput {
  display: flex;
  align-items: center;
  padding: {
    top: 14px;
    bottom: 14px;
    left: 20px;
    right: 25px;
  }
  width: 26%;
  justify-content: space-between;
  background: #fff;
  border-radius: 100px;
}