.ourPetsGallery {
  margin-top: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.ourPetsGallery > * {
  margin-bottom: 155px;
}


// Tablet styles
@media (max-width: 1289px) {
  .ourPetsGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 580px;
    margin: 165px auto 0 auto;
  }
  .ourPetsGallery > * {
    margin-bottom: 130px;
  }
}


// Mobile styles
@media (max-width: 767px) {
  .ourPetsGallery {
    display: flex;
    flex-wrap: wrap;
    width: 251px;
  }
  .ourPetsGallery > * {
    margin-bottom: 145px;
  }
}