.titleBlock {
  display: flex;
  align-items: center;
  padding: {
    top: 40px;
    bottom: 30px;
  }
  h2 {
    margin-right: 50px;
  }
}
.aboutPetText {
  width: 58%;
}
.aboutPetText:not(:last-child) {
  padding-bottom: 25px;
}
.photoDescBlock {
  padding: {
    top: 100px;
    bottom: 100px;
  };
}

.carouselArrowMobile {
  display: none;
}
.carouselArrow img {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}
.carouselArrowLeft img {
  padding: {
    top: 11px;
    right: 15px;
    bottom: 11px;
    left: 13px;
  }
}
.carouselArrowRight img {
  padding: {
    top: 11px;
    right: 13px;
    bottom: 11px;
    left: 15px;
  }
}

.carouselArrow img:hover {
  background: #FFB78E;
}
.carouselArrow img:active {
  background: #E48244;
}


.galleryPhotosArrows {
  display: flex;
  align-items: center;
  justify-content: center;
}
.galleryPhoto {
  width: 470px;
  margin: {
    left: 70px;
    right: 70px;
  }
}


.galleryPhotoIndexBlock {
  text-align: center;
  font-weight: 500;
  font-size: 1.389rem;
  padding-top: 65px;
}


// Tablet styles
@media (max-width: 1200px) {
  .titleBlock {
    padding: {
      top: 40px;
      bottom: 25px;
    }
    h2 {
      margin-right: 33px;
    }
  }
  .aboutPetText {
    width: 70%;
  }
  .aboutPetText:not(:last-child) {
    padding-bottom: 20px;
  }

  
  .carouselArrowLeft img {
    padding: {
      top: 9px;
      right: 14px;
      bottom: 9px;
      left: 10px;
    }
  }
  .carouselArrowRight img {
    padding: {
      top: 9px;
      right: 10px;
      bottom: 9px;
      left: 14px;
    }
  }

  .galleryPhotosArrows {
    justify-content: space-between;
  }
  .galleryPhoto {
    margin: 0;
  }
  
  
  .galleryPhotoIndexBlock {
    text-align: center;
    font-weight: 500;
    font-size: 1.389rem;
    padding-top: 40px;
  }
}


// Mobile styles
@media (max-width: 480px) {
  .titleBlock {
    padding: {
      top: 30px;
      bottom: 30px;
    }
    h2 {
      margin-right: 30px;
    }
  }
  .aboutPetText {
    width: 90%;
  }
  .aboutPetText:not(:last-child) {
    padding-bottom: 23px;
  }

  .photoDescBlock {
    padding: {
      top: 78px;
      bottom: 80px;
    }
  }


  .carouselArrow {
    display: none;
  }
  .carouselArrowMobile {
    display: block;
  }

  .carouselArrowMobile {
    position: absolute;
    top: 45%;
  }
  .carouselArrowLeftMobile {
    left: -2%; 
  }
  .carouselArrowRightMobile {
    right: -2%;
  }
  
  .carouselArrowLeftMobile img {
    padding: {
      top: 5px;
      right: 10px;
      bottom: 5px;
      left: 7px;
    }
  }
  .carouselArrowRightMobile img {
    padding: {
      top: 5px;
      right: 7px;
      bottom: 5px;
      left: 10px;
    }
  }

  .carouselArrowMobile img:hover {
    background: #FFB78E;
  }
  .carouselArrowMobile img:active {
    background: #E48244;
  }
  .carouselArrowMobile img {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
  }

  
  .galleryPhotosArrows {
    justify-content: center;
    position: relative;
  }

  .galleryPhoto {
    width: 276px;
  }
  
  .galleryPhotoIndexBlock {
    font-size: 0.833rem;
    padding-top: 20px;
  }
}