.paginationBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -75px;
}
.ulPagination {
  display: flex;
  align-items: center;
}
.paginationBtn {
  background: none;
  color: black;
  width: 100%;
  padding: 5px;
}
.paginationBtnImgRight {
  margin-left: 25px;
}
.paginationBtnImgLeft {
  margin-right: 25px;
}
.paginationBtn:hover {
  background: none;
}
.paginationBtn:active {
  background: none;
}

// Mobile styles
@media (max-width: 480px) {
  .paginationBtn img {
    width: 15px;
  }
  .paginationBtnImgRight {
    margin-left: 20px;
  }
  .paginationBtnImgLeft {
    margin-right: 20px;
  }
}