@import 'variables.scss';

.animalFilter {
  background: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: {
    top: 12px;
    bottom: 12px;
    left: 15px;
    right: 15px;
  }
  user-select: none;
}
.animalFilterFocus {
  background: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 20px 42px;
  h4 {
    font-weight: 500;
    color: white;
  }
  user-select: none;
}
.animalFilter img {
  padding-right: 15px;
}
.animalFilter h4 {
  cursor: default;
}
.animalFilterFocus h4 {
  cursor: default;
}

// Tablet styles
@media (max-width: 1200px) {
  .animalFilter {
    padding: {
      top: 10px;
      bottom: 10px;
      left: 12px;
      right: 12px;
    }
  }
  .animalFilterFocus {
    padding: 16px 30px;
    h4 {
      font-size: 1rem;
    }
  }
  .animalFilter img {
    padding-right: 13px;
    height: 30px;
  }
  .animalFilter h4 {
    font-size: 1rem;
  }
}

// Mobile styles
@media (max-width: 480px) {
  .animalFilter {
    padding: 7px;
  }
  .animalFilterFocus {
    padding: 10px 18px;
    h4 {
      font-size: 0.722rem;
    }
  }
  .animalFilter img {
    padding-right: 3px;
    height: 20px;
  }
  .animalFilter h4 {
    font-size: 0.722rem;
  }
}