@import 'variables.scss';

.animalFilter {
  background: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: {
    top: 12px;
    bottom: 12px;
    left: 15px;
    right: 15px;
  }
}
.animalFilter img {
  padding-right: 18px;
}

// Tablet styles
@media (max-width: 1439px) {
  .animalFilter {
    padding: {
      top: 10px;
      bottom: 10px;
      left: 12px;
      right: 12px;
    }
  }
  .animalFilter img {
    padding-right: 13px;
    height: 30px;
  }
  .animalFilter h4 {
    font-size: 1rem;
  }
}

// Mobile styles
@media (max-width: 767px) {
  .animalFilter {
    padding: 7px;
  }
  .animalFilter img {
    padding-right: 3px;
    height: 20px;
  }
  .animalFilter h4 {
    font-size: 0.722rem;
  }
}