@import 'variables.scss';

.searchInput {
  display: flex;
  padding: {
    top: 14px;
    bottom: 14px;
    left: 20px;
    right: 25px;
  }
  width: 285px;
  height: 48px;
  background: #fff;
  border-radius: 100px;
}
.searchInputChange {
  display: flex;
  justify-content: space-between;
  padding {
    right: 0;
    top: 0;
    bottom: 0;
    // left: 20px!important;
  }
  width: 285px;
  height: 48px;
  background: #fff;
  border-radius: 100px;
  input {
    margin-left: 20px;
  }
  input::placeholder {
    color: white;
    height: 100%;
    line-height: 100%;
  }
  svg {
    width: 21px;
    height: 21px;
  }
}
.searchInputImgDivChange {
  padding: {
    right: 20px;
    top: 14px;
    bottom: 14px;
    left: 14px;
  }
  display: flex;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.searchInput input {
  margin-left: 5px;
  width: 100%;
  border-radius: 100px;
}
.searchInput input::placeholder {
  // font-size: 0.722rem;
  color: rgba(66, 41, 4, 0.5);
  letter-spacing: 1px;
  height: 100%;
  line-height: 100%;
}


// Tablet styles
@media (max-width: 1200px) {
  .searchInput {
    padding: {
      // top: 16px;
      // bottom: 16px;
      left: 15px;
      right: 0;
    }
    width: 206px;
    align-items: center;
  }
  .searchInputChange {
    padding {
      right: 0;
      top: 0;
      bottom: 0;
      // left: 20px!important;
    }
    width: 206px;
    input {
      margin-left: 20px;
      border-radius: 100px;
    }
    svg {
      width: 21px;
      height: 21px;
    }
  }
  .searchInputImgDivChange {
    padding: {
      right: 20px;
      top: 14px;
      bottom: 14px;
      left: 14px;
    }
    display: flex;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

// Mobile styles
@media (max-width: 480px) {
  .searchInput {
    height: 37px;
    padding: {
      top: 5px;
      bottom: 5px;
    }
    align-items: center;
  }
  .searchInput img {
    height: 12px;
  }
  .searchInput input::placeholder {
    font-size: 11px;
    height: 100%;
    line-height: 100%;
  }
}