.titleBlock {
  display: flex;
  align-items: center;
  padding: {
    top: 40px;
    bottom: 30px;
  }
  h2 {
    margin-right: 50px;
  }
}
.aboutPetText:not(:last-child) {
  padding-bottom: 25px;
  width: 58%;
}
.photoDescBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: {
    top: 100px;
    bottom: 100px;
  };
}
.petDescBlock {
  background: #fff;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
  border-radius: 30px;
  padding: 50px;
  width: 570px;
  .petDescRow {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .petDescRow span {
    font-weight: 500;
    font-size: 1.389rem;
  }
  .petInfo {
    color: rgba(66,41,4,0.7)
  }
  .takePet {
    margin: {
      top: 15px;
      bottom: 55px;
    }
    letter-spacing: 2px;
  }
  .socialsWrapper {
    margin-top: -7px;
  }
}

.carouselArrow {
  position: absolute;
  top: 38%;
}
.carouselArrowLeft {
  left: -4%; 
}
.carouselArrowRight {
  right: -4%;
}
.carouselArrow img {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}
.carouselArrowLeft img {
  padding: {
    top: 11px;
    right: 15px;
    bottom: 11px;
    left: 13px;
  }
}
.carouselArrowRight img {
  padding: {
    top: 11px;
    right: 13px;
    bottom: 11px;
    left: 15px;
  }
}

.carouselArrow img:hover {
  background: #FFB78E;
}
.carouselArrow img:active {
  background: #E48244;
}

.galleryPhotosWrapper {
  position: relative;
}
.galleryPhotos {
  width: 472px;
  // height: 576px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.galleryPhotoIndexBlock {
  text-align: center;
  font-weight: 500;
  font-size: 1.389rem;
  padding-top: 65px;
}