@import 'variables.scss';

.visitingRulesCarousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.visitingRulesCard {
  display: flex;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
  padding: 65px;
  align-items: center;
  flex-basis: 84%;
}
.visitingRulesCard img {
  margin-right: 30px;
}

// Arrows
.visitingRulesArrow img {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}
.visitingRulesArrowRight img {
  padding: {
    top: 11px;
    right: 13px;
    bottom: 11px;
    left: 15px;
  }
}
.visitingRulesArrowLeft img {
  padding: {
    top: 11px;
    right: 15px;
    bottom: 11px;
    left: 13px;
  }
}
.visitingRulesArrow img:hover {
  background: #FFB78E;
}
.visitingRulesArrow img:active {
  background: #E48244;
}

// Rounds
.visitingRulesRounds {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.visitingRulesRound {
  width: 11px;
  height: 11px;
  background: #c4c4c4;
  border-radius: 50%;
}
.visitingRulesRoundActive {
  background: #422904;
}
.visitingRulesRound:not(:last-child) {
  margin-right: 10px;
}


// Tablet styles
@media (max-width: 1024px) {
  .visitingRulesCard {
    height: 309px;
    padding: 35px;
  }
  .visitingRulesCard img {
    margin-right: 30px;
    width: 242px;
    height: 239px;
  }
  .visitingRulesCard p {
    font-size: 0.833rem;
    width: 100%;
  }

  .visitingRulesArrowRight img {
    padding: {
      top: 9px;
      right: 10px;
      bottom: 9px;
      left: 14px;
    }
  }
  .visitingRulesArrowLeft img {
    padding: {
      top: 9px;
      right: 14px;
      bottom: 9px;
      left: 10px;
    }
  }
}

// Mobile styles
@media (max-width: 414px) {
  .visitingRulesCard {
    height: 278px;
    padding: {
      top: 0;
      bottom: 0;
      left: 20px;
      right: 20px;
    }
    flex-direction: column;
    justify-content: center;
  }
  .visitingRulesCard img {
    margin-right: 0;
    width: 130px;
    height: 130px;
    border-radius: 30px;
    margin-bottom: 18px;
  }
  .visitingRulesCard p {
    font-size: 0.722rem;
  }
}