@import 'variables.scss';

.visitingRulesBlock h2 {
  padding-bottom: 105px;
}
.visitingRulesBlock h3 {
  padding-bottom: 40px;
}
.visitingRulesBlock p {
  padding-bottom: 45px;
  width: 47%;
}
.callWriteBtnsWrapper {
  padding-bottom: 100px;
}

