@import 'variables.scss';

.visitingRulesBlock h2 {
  padding-bottom: 105px;
}
.visitingRulesBlock h3 {
  padding-bottom: 40px;
}
.visitingRule {
  padding-bottom: 45px;
  width: 47%;
}
.callWriteBtnsWrapper {
  padding-bottom: 100px;
}


// Tablet styles
@media (max-width: 1024px) {
  .visitingRulesBlock h3 {
    padding-bottom: 30px;
  } 
  .visitingRule {
    padding-bottom: 40px;
    width: 65%;
  }
  .callWriteBtnsWrapper {
    padding-bottom: 90px;
  }
}

// Mobile styles
@media (max-width: 414px) {
  .visitingRulesBlock h2 {
    padding-bottom: 80px;
  } 
  .visitingRulesBlock h3 {
    padding-bottom: 20px;
  } 
  .visitingRule {
    padding-bottom: 25px;
    width: 95%;
  }
  .callWriteBtnsWrapper {
    padding-bottom: 80px;
  }
}


