@import 'variables.scss';

.pagePaddings {
  padding: {
    left: 11%;
    right: 11%;
  }
}


.needsBlock {
  background: $pageBg;
  padding: {
    left: 11%;
    right: 3%;
    top: 100px;
  }
}

.needsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
  padding-bottom: 80px;
}
.needsDesc {
  flex-basis: 48%;
  margin-top: 20px;
}
.needsDesc p {
  width: 85%;
  margin-top: 40px;
}


.needsListWrapper {
  padding-bottom: 210px;
}
.needsListItem {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.needsListItem img {
  margin-right: 15px;
}

.visitingRulesWrapper {
  padding-bottom: 200px;
  background: $pageBg;
}


.animalCarouselWrapper {
  background: $pageBg;
  padding-bottom: 200px;
}

.bankCardWrapper {
  background: $pageBg;
  padding-bottom: 290px;
  background-image: url(/img/orange-wave-cut.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
