@import 'variables.scss';

.pagePaddings {
  padding: {
    left: 11%;
    right: 11%;
  }
}


.breadCrumbs {
  font-size: $breadCrumbsAndBtnTxt;
  font-weight: $mediumWeight;
}

.guardianshipAdoptationBlock {
  background: $pageBg;
  padding: {
    left: 11%;
    right: 3%;
    top: 100px;
  }
}

.guardianshipAdoptationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
  padding-bottom: 80px;
}
.guardianshipAdoptationDesc {
  flex-basis: 48%;
  margin-top: 20px;
}
.guardianshipAdoptationDesc p {
  width: 83%;
  margin-top: 40px;
}

// About guardianship
.aboutGuardianshipAdoptationBlocks {
  background: $pageBg;
}
.aboutGuardianshipBlock {
  padding-bottom: 200px;
}
.aboutGuardianshipBlockDesc {
  padding: {
    top: 38px;
    bottom: 100px;
  };
  width: 53%;
}
.aboutGuardianshipGalleryRow {
  display: flex;
  align-items: center;
}
.aboutGuardianshipGalleryRow:not(:last-child) {
  padding-bottom: 100px;
}
.aboutGuardianshipGalleryRow h3 {
  padding-bottom: 35px;
}
.aboutGuardianshipGalleryRowTextRight {
  padding-left: 9%;
  width: 60%;
}
.aboutGuardianshipGalleryRowTextLeft {
  padding-right: 9%;
  width: 60%;
}
.afterGuardianshipGalleryDesc {
  padding: {
    top: 100px;
    bottom: 43px;
  };
  width: 53%;
}

// About adaptation
.aboutAdaptationBlock {
  padding-bottom: 200px;
}
.aboutAdaptationBlock h2 {
  padding-bottom: 105px;
}
.aboutAdaptationBlockDesc {
  display: flex;
  align-items: center;
}
.aboutAdaptationBlockText {
  padding-left: 9%;
  width: 60%;
}
.aboutAdaptationBlockText button {
  margin-top: 43px;
}



.visitingRulesWrapper {
  padding-bottom: 200px;
  background: $pageBg;
}


.animalCarouselWrapper {
  background: $pageBg;
  padding-bottom: 200px;
}

.bankCardWrapper {
  background: $pageBg;
  padding-bottom: 290px;
  background-image: url(/img/orange-wave-cut.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.bankCardWrapper h2 {
  padding-bottom: 100px;
}
