@import 'variables.scss';

.pagePaddings {
  padding: {
    left: 11%;
    right: 11%;
  }
}


.breadCrumbs {
  font-size: $breadCrumbsAndBtnTxt;
  font-weight: $mediumWeight;
}

.firstBlock {
  background: $pageBg;
  padding: {
    left: 11%;
    right: 3%;
    top: 100px;
  }
}

.firstWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -50px;
  padding-bottom: 80px;
}
.firstDesc {
  flex-basis: 48%;
}
.breadCrumbsWrapper {
  padding-top: 40px;
}
.firstDesc h2 {
  margin-top: 50px;
}
.firstDesc p {
  width: 85%;
  margin-top: 30px;
}

// About guardianship
.aboutGuardianshipAdoptationBlocks {
  background: $pageBg;
}
.aboutGuardianshipBlock {
  padding-bottom: 200px;
}
.aboutGuardianshipBlockDesc {
  padding: {
    top: 38px;
    bottom: 100px;
  };
  width: 53%;
}
.aboutGuardianshipGalleryRow {
  display: flex;
  align-items: center;
}
.aboutGuardianshipGalleryRow:not(:last-child) {
  padding-bottom: 100px;
}
.aboutGuardianshipGalleryRow h3 {
  padding-bottom: 35px;
}
.aboutGuardianshipGalleryRowTextRight {
  padding-left: 9%;
  width: 60%;
}
.aboutGuardianshipGalleryRowTextLeft {
  padding-right: 9%;
  width: 60%;
}
.afterGuardianshipGalleryDesc {
  padding: {
    bottom: 43px;
  };
  width: 53%;
}

// About adaptation
.aboutAdaptationBlock {
  padding-bottom: 200px;
}
.aboutAdaptationBlock h2 {
  padding-bottom: 105px;
}
.aboutAdaptationBlockDesc {
  display: flex;
  align-items: center;
}
.aboutAdaptationBlockText {
  padding-left: 9%;
  width: 60%;
}
.aboutAdaptationBlockText button {
  margin-top: 43px;
}



.visitingRulesWrapper {
  padding-bottom: 200px;
  background: $pageBg;
}


.animalCarouselWrapper {
  background: $pageBg;
  padding-bottom: 200px;
}

.bankCardWrapperSection {
  position: relative;
}
.bankCardWrapper {
  background: $pageBg;
  padding-bottom: 290px;
}
.bankCardWrapper h2 {
  padding-bottom: 100px;
}

.waveDesktop {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  // height: 200px;
}
.waveTablet {
  display: none;
}
.waveMobile {
  display: none;
}

@media (max-width: 1439px) {
  .pagePaddings {
    padding: {
      left: 45px;
      right: 45px;
    }
  }
  .waveDesktop{
    display: none;
  }
  .waveTablet {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .firstWrapper {
    flex-direction: column;
    padding-bottom: 200px;
  }
  .firstBlock {
    padding-left: 45px;
  }
  .firstDesc {
    flex-basis: 0;
  }
  .firstDesc h2 {
    margin-top: 50px;
  }
  .firstDesc p {
    width: 73%;
    margin-bottom: 40px;
  }
  .photoWithPhraseBubbleWrapper {
    margin: 0 auto;
  }

  .aboutGuardianshipBlock h2 {
    font-size: 1.944rem;
  }
  .aboutGuardianshipBlockDesc {
    padding: {
      top: 26px;
    }
    width: 65%;
  }
  .aboutGuardianshipGalleryRow img {
    width: 234px;
    height: 244px;
  }
  .aboutGuardianshipGalleryRowTextRight {
    padding-left: 40px!important;
    width: 100%;
  }
  .aboutGuardianshipGalleryRowTextLeft {
    padding-right: 40px!important;
    width: 100%;
  }
  .aboutGuardianshipGalleryRowTextRight h3, .aboutGuardianshipGalleryRowTextLeft h3 {
    font-size: 20px;
    padding-bottom: 24px;
  }

  .afterGuardianshipGalleryDesc {
    padding: {
      bottom: 38px;
    };
    width: 53%;
  }
  .choosePetBtn {
    letter-spacing: 2px;
  }

  .aboutAdaptationBlockDesc img {
    width: 234px;
    height: 347px;
  }
  .aboutAdaptationBlockText {
    padding-left: 40px;
    width: 100%;
  }


  .bankCardWrapper {
    padding-bottom: 240px;
  }
}

// Tablet styles
@media (max-width: 1024px) {
  .pagePaddings {
    padding: {
      left: 45px;
      right: 45px;
    }
  }
  .waveDesktop{
    display: none;
  }
  .waveTablet {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .firstWrapper {
    flex-direction: column;
    padding-bottom: 200px;
  }
  .firstBlock {
    padding-left: 45px;
  }
  .firstDesc {
    flex-basis: 0;
  }
  .firstDesc h2 {
    margin-top: 50px;
  }
  .firstDesc p {
    width: 73%;
    margin-bottom: 40px;
  }
  .photoWithPhraseBubbleWrapper {
    margin: 0 auto;
  }

  .aboutGuardianshipBlock h2 {
    font-size: 1.944rem;
  }
  .aboutGuardianshipBlockDesc {
    padding: {
      top: 26px;
    }
    width: 65%;
  }
  .aboutGuardianshipGalleryRow img {
    width: 234px;
    height: 244px;
  }
  .aboutGuardianshipGalleryRowTextRight {
    padding-left: 40px!important;
    width: 100%;
  }
  .aboutGuardianshipGalleryRowTextLeft {
    padding-right: 40px!important;
    width: 100%;
  }
  .aboutGuardianshipGalleryRowTextRight h3, .aboutGuardianshipGalleryRowTextLeft h3 {
    font-size: 20px;
    padding-bottom: 24px;
  }

  .afterGuardianshipGalleryDesc {
    padding: {
      bottom: 38px;
    };
    width: 53%;
  }
  .choosePetBtn {
    letter-spacing: 2px;
  }

  .aboutAdaptationBlockDesc img {
    width: 234px;
    height: 347px;
  }
  .aboutAdaptationBlockText {
    padding-left: 40px;
    width: 100%;
  }


  .bankCardWrapper {
    padding-bottom: 240px;
  }
}

@media (max-width: 767px) {
  .pagePaddings {
    padding: {
      left: 14px;
      right: 14px;
    }
  }
  .waveTablet {
    display: none;
  }
  .waveMobile {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .firstBlock {
    padding-left: 14px;
  }
  .firstWrapper {
    padding-bottom: 100px;
  }
  .firstDesc h2 {
    margin-top: 25px;
    width: 85%;
  }
  .firstDesc p {
    width: 85%;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .breadCrumbsWrapper {
    padding-top: 0;
  } 

  .aboutGuardianshipBlock {
    padding-bottom: 20px;
  }
  .aboutGuardianshipBlock h2 {
    font-size: 20px;
  }
  .aboutGuardianshipBlockDesc {
    padding: {
      top: 17px;
      bottom: 80px;
    }
    width: 90%;
  }
  .aboutGuardianshipGalleryRow {
    flex-direction: column;
    padding-bottom: 80px!important;
    align-items: flex-start;
  }
  .aboutGuardianshipGalleryRowReverse {
    flex-direction: column-reverse;
  }
  .aboutGuardianshipGalleryRow img {
    width: 188px;
    height: 197px;
    border-radius: 30px;
    margin: 0 auto;
  }
  .aboutGuardianshipGalleryRowTextRight {
    padding-left: 0!important;
    width: 90%;
  }
  .aboutGuardianshipGalleryRowTextLeft {
    padding-right: 0!important;
    width: 90%;
  }
  .aboutGuardianshipGalleryRowTextRight h3, .aboutGuardianshipGalleryRowTextLeft h3 {
    font-size: 20px;
    padding-bottom: 24px;
    padding-top: 45px;
  }

  .whereWeAreBlock {
    display: none;
  }

  .aboutAdaptationBlock {
    padding-bottom: 100px;
  }
  .aboutAdaptationBlock h2 {
    padding-bottom: 80px;
    width: 50%;
  }
  .aboutAdaptationBlockDesc {
    flex-direction: column;
  }
  .aboutAdaptationBlockDesc img {
    width: 189px;
    height: 230px;
    border-radius: 30px;
  }
  .aboutAdaptationBlockText {
    padding-left: 0;
    padding-top: 45px;
    width: 100%;
  }
  .aboutAdaptationBlockText button {
    margin-top: 30px;
    letter-spacing: 2.5px;
  }

  .visitingRulesWrapper {
    padding-bottom: 100px;
  }
  .animalCarouselWrapper {
    padding-bottom: 100px;
  }

  .bankCardWrapper {
    padding-bottom: 160px;
  }
  .bankCardWrapper h2 {
    padding-bottom: 80px;
  }
}

// Mobile styles
@media (max-width: 414px) {
  .pagePaddings {
    padding: {
      left: 14px;
      right: 14px;
    }
  }
  .waveTablet {
    display: none;
  }
  .waveMobile {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .firstBlock {
    padding-left: 14px;
  }
  .firstWrapper {
    padding-bottom: 100px;
  }
  .firstDesc h2 {
    margin-top: 25px;
    width: 85%;
  }
  .firstDesc p {
    width: 85%;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .breadCrumbsWrapper {
    padding-top: 0;
  } 

  .aboutGuardianshipBlock {
    padding-bottom: 20px;
  }
  .aboutGuardianshipBlock h2 {
    font-size: 20px;
  }
  .aboutGuardianshipBlockDesc {
    padding: {
      top: 17px;
      bottom: 80px;
    }
    width: 90%;
  }
  .aboutGuardianshipGalleryRow {
    flex-direction: column;
    padding-bottom: 80px!important;
    align-items: flex-start;
  }
  .aboutGuardianshipGalleryRowReverse {
    flex-direction: column-reverse;
  }
  .aboutGuardianshipGalleryRow img {
    width: 188px;
    height: 197px;
    border-radius: 30px;
    margin: 0 auto;
  }
  .aboutGuardianshipGalleryRowTextRight {
    padding-left: 0!important;
    width: 90%;
  }
  .aboutGuardianshipGalleryRowTextLeft {
    padding-right: 0!important;
    width: 90%;
  }
  .aboutGuardianshipGalleryRowTextRight h3, .aboutGuardianshipGalleryRowTextLeft h3 {
    font-size: 20px;
    padding-bottom: 24px;
    padding-top: 45px;
  }

  .whereWeAreBlock {
    display: none;
  }

  .aboutAdaptationBlock {
    padding-bottom: 100px;
  }
  .aboutAdaptationBlock h2 {
    padding-bottom: 80px;
    width: 50%;
  }
  .aboutAdaptationBlockDesc {
    flex-direction: column;
  }
  .aboutAdaptationBlockDesc img {
    width: 189px;
    height: 230px;
    border-radius: 30px;
  }
  .aboutAdaptationBlockText {
    padding-left: 0;
    padding-top: 45px;
    width: 100%;
  }
  .aboutAdaptationBlockText button {
    margin-top: 30px;
    letter-spacing: 2.5px;
  }

  .visitingRulesWrapper {
    padding-bottom: 100px;
  }
  .animalCarouselWrapper {
    padding-bottom: 100px;
  }

  .bankCardWrapper {
    padding-bottom: 160px;
  }
  .bankCardWrapper h2 {
    padding-bottom: 80px;
  }
}