@import 'variables.scss';

// Hero
.firstBlockSection {
  position: relative;
}
.firstBlock {
  background: $navBg;
  padding: {
    left: 11%;
    top: 140px;
  }
  display: flex;
  position: relative;
}
.firstBlockTitle {
  flex-basis: 38%;
}
.firstBlockImg {
  z-index: 100;
}
.firstBlockImgTablet {
  display: none;
  z-index: 100;
}
.titleDesc {
  width: 80%;
  margin-top: 45px;
}

.pagePaddings {
  padding: {
    left: 11%;
    right: 11%;
  }
}

.waveDesktop {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  // height: 200px;
}
.waveTablet {
  display: none;
}
.waveMobile {
  display: none;
}



// Look for home 
.findHomeBlockSection {
  position: relative;
}
.findHomeBlock {
  background: $pageBg;
  padding-top: 100px;
}

.videoBlock {
  display: flex;
  padding: {
    top: 200px;
    bottom: 140px;
  }
  justify-content: space-between;
}
.videoText {
  flex-basis: 40%;
}
.videoText p:last-child {
  margin-top: 25px;
}
.videoWrapper {
  flex-basis: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bubbleBlock {
  padding-bottom: 220px;
  padding-left: 22%;
  position: relative;
}

.waysToHelpTitle {
  position: absolute;
  z-index: 10;
  bottom: -5px;
}

// Ways to help
.waysToHelpBlockSection {
  position: relative;
  z-index: 10;
}
.waysToHelpBlock {
  background: #fff;
  padding-top: 105px;
}
.waysToHelp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.waysToHelpReversed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.waysToHelp:not(:last-child) {
  padding-bottom: 100px;
}
.waysToHelpReversed:not(:last-child) {
  padding-bottom: 100px;
}
.waysToHelpDesc {
  flex-basis: 43.5%;
}
.waysToHelpImg {
  z-index: 100;
}
.waysToHelpDescTitleWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.waysToHelpDescTitleWrapper img {
  padding-right: 15px;
}
.spendingsReport {
  display: inline-block;
  padding: {
    top: 20px;
  }
  color: #2E2E2E;
  font-size: 13px;
}
.spendingsReport span {
  border-bottom: 1px solid #2E2E2E;
  font-family: 'Montserrat Medium', sans-serif;
}
.spendingsReport span:hover {
  color: #7C6035;
  border-bottom: 1px solid #7C6035;
  cursor: default;
}
.waysToHelpDescBtnWrapper {
  padding-left: 40px;
}
.waysToHelpDescBtnWrapper button {
  margin-top: 40px;
}
.waysToHelpDescBtnWrapper button span {
  color: #fff;
}
.socialsBlock {
  padding-top: 50px;
  z-index: 100;
  position: relative;
}


// Our Pets
.ourPetsBlockSection {
  position: relative;
}
.ourPetsBlock {
  background: $pageBg;
  padding-bottom: 280px;
}
.ourPetsBlock h2 {
  padding: {
    top: 200px;
    bottom: 30px;
  }
}
.ourPetsDesc {
  width: 40%;
}
.ourPetsPadding {
  padding-top: 30px;
  padding-bottom: 110px;
}

.morePetsBtn {
  margin-top: -75px;
  display: flex;
  justify-content: center;
}
.morePetsBtnTablet {
  display: none;
}

.bankCardWrapper h2 {
  padding-bottom: 100px;
}


// Tablet styles
@media (max-width: 1024px) {
  .firstBlock {
    flex-direction: column;
    padding-left: 45px;
    align-items: flex-end;
    padding-top: 160px;
  }
  .firstBlockTitle {
    margin-bottom: 107px;
  }
  .titleDesc {
    width: 45%;
    margin-top: 37px;
  }
  .firstBlockImg {
    display: none;
  }
  .firstBlockImgTablet {
    display: block;
  }

  .waveDesktop{
    display: none;
  }
  .waveTablet {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }


  .findHomeBlock {
    padding: {
      top: 110px;
      bottom: 180px;
    }
  }
  

  .videoBlock {
    padding-top: 190px;
    padding-bottom: 120px;
  }
  .videoText {
    flex-basis: 51%;
  }
  .videoWrapper iframe {
    height: 166px;
    width: 300px;
  }
  .bubbleBlock {
    padding-left: 25px;
  }

  
  .waysToHelpTitle {
    padding-bottom: 170px;
  }
  .waysToHelpBlock {
    padding-top: 0;
    padding-bottom: 200px;
  }
  .waysToHelpDesc {
    flex-basis: 52%;
  }
  .waysToHelpImg {
    width: 42.4%;
  }
  .waysToHelpDescTitleWrapper {
    padding-bottom: 20px;
  }
  .waysToHelpDescTitleWrapper h3 {
    font-size: 1.11rem;
    letter-spacing: 1px;
  }
  .waysToHelpDescBtnWrapper p {
    font-size: 0.833rem;
    letter-spacing: 1px;
  }
  .waysToHelpDescBtnWrapper span {
    width: 90%;
    padding-top: 9px;
  }

  .ourPetsBlock {
    padding-bottom: 240px;
  }
  .ourPetsBlock h2 {
    padding-top: 0;
  }
  .ourPetsDesc {
    width: 48%;
  }
  .ourPetsPadding {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .morePetsBtn {
    display: none;
  }
  .morePetsBtnTablet {
    display: block;
    margin-top: -75px;
    display: flex;
    justify-content: center;
  }
  .bankCardWrapper {
    margin-top: 190px;
  }

  .pagePaddings {
    padding: {
      left: 45px;
      right: 45px;
    }
  }
}

// Mobile styles
@media (max-width: 414px) {
  .pagePaddings {
    padding: {
      left: 14px;
      right: 14px;
    }
  }

  .waveTablet {
    display: none;
  }
  .waveMobile {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .videoBlock {
    flex-direction: column;
  }
  .bubbleBlock {
    padding-left: 0;
  }
}





