@import 'variables.scss';

// Hero
.firstBlock {
  background: $navBg;
  // background-image: url(/img/first-block-animals.png);
  padding: {
    left: 11%;
    top: 140px;
  }
  display: flex;
  position: relative;
}
.firstBlockTitle {
  flex-basis: 38%;
}
.titleDesc {
  width: 80%;
  margin-top: 45px;
}
.firstBlockImg {
  z-index: 10;
}
.waveBlock {
  position: absolute;
  left: 0;
  width: 100%;
}
.waveFirst {
  top: 62%;
}
.wave {
  width: 100%;
}

.pagePaddings {
  padding: {
    left: 11%;
    right: 11%;
  }
}


// Look for home 
.findHomeBlock {
  background: $pageBg;
  position: relative;
}
.findHomeTitle {
  padding: {
    top: 145px;
    bottom: 260px;
  }
}
.findCarouselBlock {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.findCarouselCard {
  position: relative;
}
.findCarouselArrow {
  position: absolute;
  top: 24%;
}
.findCarouselArrowLeft {
  left: 5%;
}
.findCarouselArrowRight {
  right: 5%;
}
.findCarouselCardDesc {
  background: #fff;
  padding: {
    top: 185px;
    left: 35px;
    right: 35px;
    bottom: 60px;
  };
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}
.findCarouselCardDesc h3 {
  display: inline-block;
}
.findCarouselCard {
  width: 31%;
}
.findCarouselCardDescRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.findCarouselCardDescRow:first-child {
  padding-bottom: 35px;
}
.petImgBlock {
  width: 100%;
  position: absolute;
  bottom: 55%;
  display: flex;
  justify-content: center;
}
.petSex {
  padding-right: 12px;
}

.videoBlock {
  display: flex;
  padding: {
    top: 200px;
    bottom: 140px;
  }
  justify-content: space-between;
}
.videoText {
  flex-basis: 40%;
}
.videoText p:last-child {
  margin-top: 25px;
}
.videoWrapper {
  background: #fff;
  flex-basis: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubbleBlock {
  position: relative;
  padding-bottom: 380px;
}
.photoForPhraseBubbleWrapper {
  position: relative;
}
.photoForPhraseBubble {
  padding-left: 22%;
}
.phraseBubbleWrapper {
  position: absolute;
  left: 52%;
  bottom: 65%;
}
.textBubble {
  position: absolute;
  top: 23%;
  left: 23%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.textBubble p:last-child {
  margin-top: 25px;
}
.waveSecond {
  bottom: -0.25%;
}
.waysToHelpTitle {
  position: absolute;
  bottom: 6.28%;
}


// Ways to help
.waysToHelpBlock {
  background: #fff;
}
.waysToHelp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.waysToHelpReversed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.waysToHelp:not(:last-child) {
  padding-bottom: 100px;
}
.waysToHelpReversed:not(:last-child) {
  padding-bottom: 100px;
}
.waysToHelpDesc {
  flex-basis: 43.5%;
}
.waysToHelpDescTitleWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.waysToHelpDescTitleWrapper img {
  padding-right: 15px;
}
.spendingsReport {
  display: inline-block;
  padding: {
    top: 20px;
  }
  color: #2E2E2E;
  font-size: 13px;
}
.spendingsReport span {
  border-bottom: 1px solid #2E2E2E;
  font-family: 'Montserrat Medium', sans-serif;
}
.waysToHelpDescBtnWrapper {
  padding-left: 40px;
}
.waysToHelpDescBtnWrapper button {
  margin-top: 40px;
}
.socialsBlock {
  padding-top: 50px;
}
.socialsBlock img:not(:last-child) {
  margin-right: 15px;
}
