@import 'variables.scss';

// Header
.headerBlock {
  background: $navBg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    left: 20px;
    right: 40px;
    bottom: 15px;
    top: 25px;
  }
}
.logoWrapperHeader svg {
  cursor: pointer;
}
.menuWrapperBurger {
  display: none;
}
.headerBlock a {
  color: $textColor;
  font-size: 0.833em;
  font-weight: $mediumWeight;
}
.headerBlock a:not(:last-child) {
  margin-right: 40px;
}

// Dropdown for menu
.menuWrapper {
  position: relative;
}
.menuAboutLink:hover + .menuAboutDropdown {
  display:block;
}
.menuPetsLink:hover + .menuPetsDropdown {
  display:block;
}
.menuDropdown {
  position: absolute;
  z-index: 200;
  display: none;
}
.menuAboutDropdown {
  left: -19%;
  width: 58%; 
}
.menuPetsDropdown {
  left: 12%;
  width: 43%; 
}
.menuDropdownUl {  
  background: #fff;
  border-radius: 20px;
  padding: 35px;
  margin-top: 20px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}
.menuDropdown a {
  font-size: 0.722em;
  font-weight: normal;
}
.menuDropdown a:hover {
  font-weight: $mediumWeight;
  color: #7C6035;
}
.menuDropdown li:not(:last-child) {
  padding-bottom: 18px;
}
.menuDropdown:hover {
  display: block;
}

.mobileMenuWrapper {
  display: none;
}
.openBtn {
  background: none!important;
  padding: 0;
  width: 59px;
  border-radius: 0;
}
.openBtn:hover {
  background: none
}
.openBtn:active {
  background: none;
}

// Footer
.footerBlock {
  display: flex;
  flex-direction: column;
  padding: {
    left: 11%;
    right: 11%;
    bottom: 180px;
  }
  justify-content: flex-end;
  align-items: space-between;
  background: $navBg;
}
.navBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 200px;
}
.footerBlock svg {
  margin-left: 10px;
  cursor: pointer;
}
.footerBlock a {
  color: $secondColor;
  font-weight: $mediumWeight;
}
.footerBlock h4 {
  padding-bottom: 20px;
  padding-top: 50px;
}
.footerBlock ul {
  line-height: 2.2;
}
.contacts h4 {
  padding-bottom: 30px;
}
.phone {
  padding-bottom: 20px;
}
.address {
  font-weight: $mediumWeight;
}
.prHelp {
  padding-bottom: 25px!important;
  padding-top: 35px!important;
}
.socialsBlockFooter {
  padding-bottom: 5px;
}


// Tablet styles
@media (max-width: 1024px) {
  // Header
  .headerBlock {
    padding-left: 35px;
    padding-right: 45px;
    padding-top: 40px;
  }
  .logoWrapperHeader svg {
    width: 116px;
    height: 100px;
  }
  .btnWrapper {
    display: none;
  }
  .menuWrapper {
    display: none;
  }
  .menuWrapperBurger {
    display: block;
  }
  .burger {
    width: 59px;
    height: 39px;
  }

  // Footer
  .footerBlock {
    padding-bottom: 150px;
  }
  .footerBlock svg {
    width: 116px;
    height: 100px;
  }
  .navBlock {
    flex-wrap: wrap;
  }
  .nav-block {
    flex-wrap: wrap;
  }
  .aboutShelter, .contacts {
    flex-basis: 60%;
  }
  .ourPets, .pr {
    flex-basis: 40%;
  }
  .contactsPrBlock {
    display: flex;
    width: 100%;
    align-items: flex-end;
  }
  .socialsBlockFooter {
    padding-bottom: 0px;
    margin-bottom: -5px;
  }
  .contacts h4 {
    padding-top: 20px;
  }
}

// Mobile styles
@media (max-width: 767px) {
  // Header
  .headerBlock {
    padding-left: 10px;
    padding-right: 14px;
    padding-top: 20px;
  }
  .logoWrapperHeader svg {
    width: 34px;
    height: 29px;
  }
  .navBlock {
    padding-bottom: 100px;
  }
  .openBtn {
    width: 19px;
  }
  .burger {
    width: 19px;
    height: 13px;
  }

  // Footer
  .footerBlock {
    padding-bottom: 100px;
  }
  .footerBlock svg {
    margin-left: 0px;
    width: 62px;
    height: 54px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .contactsPrBlock {
    flex-wrap: wrap;
  }
  .aboutShelter, .contacts, .ourPets, .pr {
    flex-basis: 100%;
  }
  .aboutShelter h4 {
    padding-top: 55px;
  }
  .contacts h4 {
    padding-top: 40px;
  }
}