@import 'variables.scss';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #422904;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: default;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4 {
  margin: 0;
}
// Bootstrap img-fluid
img {
  max-width:100%;
  height: auto;
}
p {
  margin: 0;
}
p, span {
  color: #131313;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background: #EA4D08;
  border: none;
  color: #fff;
  border-radius: 100px;
  font-size: 1.111em;
  font-family: 'Montserrat Medium', sans-serif;
  padding: {
    top: 23px;
    bottom: 23px;
  }
  width: 300px;
  outline: none;
  cursor: pointer;
  transition: $transition;
}
button:hover {
  background: #E48244;
}
button:active {
  background: #131313;
}

a:hover {
  color: #7C6035!important;
}

input {
  border: none;
  outline: none;
}

iframe {
  border: none;
}


// Desktop styles 
h1 {
  font-size: 2.78em;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
}
h2 {
  font-size: 2.22em;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
}
h3 {
  font-size: 1.39em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
h4 {
  font-size: 1.11em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

// Tablet styles
@media (max-width: 1024px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 3.33em;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  h2 {
    font-size: 2.33em;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  h3 {
    font-size: 1.33em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
  h4 {
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  button {
    padding: {
      top: 19px;
      bottom: 19px;
    }
    letter-spacing: 1px;
    width: 260px;
  }
}

// Mobile styles
@media (max-width: 414px) {
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 2.308em;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  h2 {
    font-size: 1.538em;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  h3 {
    font-size: 1.385em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
  h4 {
    font-size: 1.154em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  button {
    padding: {
      top: 16px;
      bottom: 16px;
    }
    width: 213px;
    font-size: 0.722rem;
    letter-spacing: 0;
  }
}


