@import 'variables.scss';

// Header
.headerBlock {
  background: $navBg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: {
    left: 20px;
    right: 40px;
    bottom: 15px;
    top: 15px;
  }
}
.logoWrapperHeader {
  flex-basis: 17%;
}
.headerBlock a {
  color: $textColor;
  font-size: 0.833em;
  font-weight: $mediumWeight;
}
.headerBlock a:not(:last-child) {
  margin-right: 40px;
}
.donationBtnHeader {
  padding: {
    top: 15px;
    bottom: 15px;
    left: 40px;
    right: 40px;
  }
  width: 100%;
  font-size: 0.833em;
}

// Footer
.footerBlock {
  display: flex;
  padding: {
    left: 11%;
    right: 11%;
    bottom: 100px;
  }
  justify-content: space-between;
  align-items: flex-end;
  background: $navBg;
}
.logoFooter {
  padding-bottom: 30px;
}
.footerBlock a {
  color: $secondColor;
  font-weight: $mediumWeight;
}
.footerBlock h4 {
  padding-bottom: 20px;
  padding-top: 40px;
}
.footerBlock ul {
  line-height: 2;
}
.contacts h4 {
  padding-bottom: 30px;
}
.phone {
  padding-bottom: 20px;
}
.address {
  font-weight: $mediumWeight;
}
.socialsBlockFooter {
  padding-bottom: 5px;
}
.socialsBlockFooter img:not(:last-child) {
  margin-right: 15px;
}