@import 'variables.scss';

.pagePaddings {
  padding: {
    left: 11%;
    right: 11%;
  }
}


.needsBlock {
  background: $pageBg;
  padding: {
    left: 11%;
    right: 40px;
    top: 100px;
  }
}

.breadCrumbs {
  font-size: $breadCrumbsAndBtnTxt;
  font-weight: $mediumWeight;
}

.needsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
  padding-bottom: 80px;
}
.needsDesc {
  flex-basis: 48%;
  margin-top: 20px;
}
.needsDesc p {
  width: 83%;
  margin-top: 40px;
}
