@import 'variables.scss';

.pagePaddings {
  padding: {
    left: 11%;
    right: 11%;
  }
}


.firstBlock {
  background: $pageBg;
  padding: {
    left: 11%;
    right: 3%;
    top: 100px;
  }
}

.firstWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -50px;
  padding-bottom: 80px;
}
.firstDesc {
  flex-basis: 48%;
}
.breadCrumbsWrapper {
  padding-top: 40px;
}
.firstDesc h2 {
  margin-top: 50px;
}
.firstDesc p {
  width: 85%;
  margin-top: 30px;
}

.ourPetsBlock {
  background: $pageBg;
  padding-bottom: 200px;
}
.ourPetsBlock h2 {
  padding: {
    bottom: 30px;
  }
}
.ourPetsDesc {
  width: 40%;
}
.ourPetsPadding {
  padding-top: 30px;
  padding-bottom: 110px;
}

.bankCardWrapperSection {
  position: relative;
}
.bankCardWrapper {
  background: $pageBg;
  padding-bottom: 290px;
}
.bankCardWrapper h2 {
  padding-bottom: 100px;
}

.waveDesktop {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.waveTablet {
  display: none;
}
.waveMobile {
  display: none;
}

// Tablet styles
@media (max-width: 1200px) {
  .pagePaddings {
    padding: {
      left: 5.9%;
      right: 5.9%;
    }
  }
  .waveDesktop{
    display: none;
  }
  .waveTablet {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .firstWrapper {
    flex-direction: column;
    padding-bottom: 200px;
  }
  .firstBlock {
    padding-left: 5.9%;
  }
  .firstDesc {
    flex-basis: 0;
  }
  .firstDesc h2 {
    margin-top: 50px;
  }
  .firstDesc p {
    width: 73%;
    margin-bottom: 40px;
  }
  .photoWithPhraseBubbleWrapper {
    margin: 0 auto;
  }

  .ourPetsBlock h2 {
    padding-bottom: 25px;
  }
  .ourPetsDesc {
    width: 48%;
  }
  .ourPetsPadding {
    padding: {
      top: 20px;
      bottom: 100px;
    }
  }

  .bankCardWrapper {
    padding-bottom: 240px;
  }
}

// Mobile styles
@media (max-width: 480px) {
  .pagePaddings {
    padding: {
      left: 4.4%;
      right: 4.4%;
    }
  }
  .waveTablet {
    display: none;
  }
  .waveMobile {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .firstBlock {
    padding-left: 4.4%;
  }
  .firstWrapper {
    padding-bottom: 100px;
  }
  .firstDesc h2 {
    margin-top: 25px;
    width: 85%;
  }
  .firstDesc p {
    width: 85%;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .breadCrumbsWrapper {
    padding-top: 0;
  }

  .ourPetsBlock {
    padding-bottom: 100px;
  }
  .ourPetsBlock h2 {
    padding-bottom: 23px;
  }
  .ourPetsDesc {
    width: 90%;
  }
  .ourPetsPadding {
    padding: {
      top: 15px;
      bottom: 80px;
    }
  }

  .bankCardWrapper {
    padding-bottom: 160px;
  }
  .bankCardWrapper h2 {
    padding-bottom: 80px;
  }
}