@import 'variables.scss';

.pagePaddings {
  padding: {
    left: 11%;
    right: 11%;
  }
}


.reportsBlock {
  background: $pageBg;
  padding: {
    left: 11%;
    right: 11%;
    top: 100px;
  }
}

.reportsWrapper {
  padding-bottom: 200px;
}
.reportsDesc {
  width: 57%;
  margin-top: 65px;
}
.reportsDesc p {
  width: 85%;
  margin-top: 40px;
}

.reports {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.reportsBtns button:not(:last-child) {
  margin-bottom: 35px;
  display: block;
}
.reportsBtns span {
  color: #fff;
}
.reportsImg {
  position: relative;
  width: 660px;
  height: 439px;
}



.animalCarouselWrapper {
  background: $pageBg;
  padding-bottom: 200px;
}

.bankCardWrapperSection {
  position: relative;
}
.bankCardWrapper {
  background: $pageBg;
  padding-bottom: 290px;
}
.bankCardWrapper h2 {
  padding-bottom: 100px;
}

.waveDesktop {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.waveTablet {
  display: none;
}
.waveMobile {
  display: none;
}


// Tablet styles
@media (max-width: 1200px) {
  .pagePaddings {
    padding: {
      left: 5.9%;
      right: 5.9%;
    }
  }
  .waveDesktop{
    display: none;
  }
  .waveTablet {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .reportsBlock {
    padding: {
      left: 5.9%;
      right: 5.9%;
    }
  }
  .reportsDesc {
    width: 82%;
    margin-top: 43px;
  }
  .reportsDesc p {
    margin-top: 30px;
  }
  .reportsImg {
    width: 354px;
    height: 257px;
    border-radius: 30px;
  }
  .reportsBtns button span {
    font-size: 1em;
  }
  .bankCardWrapper {
    padding-bottom: 240px;
  }
}


// Mobile styles
@media (max-width: 715px) {
  .pagePaddings {
    padding: {
      left: 4.4%;
      right: 4.4%;
    }
  }
  .waveTablet {
    display: none;
  }
  .waveMobile {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .reportsBlock {
    padding: {
      left: 4.4%;
      right: 4.4%;
      top: 50px;
    }
  }
  .reportsWrapper {
    padding-bottom: 100px;
  }
  .reportsDesc {
    width: 100%;
    margin-top: 23px;
  }
  .reportsDesc p {
    margin-top: 18px;
    width: 95%;
  }
  .reports {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 75px;
  }
  .reportsImg {
    width: 276px;
    height: 199px;
    margin-bottom: 50px;
  }
  .animalCarouselWrapper {
    padding-bottom: 100px;
  }
  .bankCardWrapper {
    padding-bottom: 160px;
  }
  .bankCardWrapper h2 {
    padding-bottom: 80px;
  }
}