$textColor:#422904;
$secondColor: #131313;

$navBg: #FFC393;
$pageBg: #FFF5DA;

$mediumWeight: 500;

// Desktop styles
$breadCrumbsAndBtnTxt: 1.11em;


// Tablet styles
$breadCrumbsAndBtnTxtTablet: 1rem;


// Mobile styles
$breadCrumbsAndBtnTxtMobile: 15px;