$textColor:#422904;
$secondColor: #131313;

$navBg: #FFC393;
$pageBg: #FFF5DA;

// Mobile styles
$breadCrumbsm: 15px;
$btnTxtm: 15px;
$primaryTextm: 13px;

// Tablet styles
$breadCrumbst: 18px;
$btnTxtt: 18px;
$primaryTextt: 15px;

// Desktop styles
$breadCrumbsd: 20px;
$btnTxtd: 20px;
$primaryTextd: 18px;