$textColor:#422904;
$secondColor: #131313;

$navBg: #FFC393;
$pageBg: #FFF5DA;

$mediumWeight: 500;

// Desktop styles
$breadCrumbsAndBtnTxt: 1.11em;

// // Tablet styles
// $breadCrumbsAndBtnTxt: 1em;
// $primaryText: 15px;

// // Mobile styles
// $breadCrumbsAndBtnTxt: 0.833em;
// $primaryText: 13px;